{% extends 'base.html' %}

{% block head %}




<title>Things</title>
{% endblock %}

{% block body %}

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Pivital Post Form </h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                           
                            <img src="logo.jpg">
                           <br>
                           <br>
                           <br>
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <button type="button" onclick="pageRedirect()">Submit</button>

                            </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
 {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}